:root {
    --primary-color: #134074;
    --secondary-color: #453823;
    --accent1-color: #5EB1BF;
    --accent2-color: #E1CDB5;
    --heading-font: "Oswald", sans-serif;
    --body-font: "Outfit", sans-serif;
}
header {
    background-color: var(--accent2-color);
    color: var(--secondary-color);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: var(--primary-color);
}
header, main, footer {
    width: 840px;
    margin: 0 auto;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
.socialmedia a {
    text-decoration: none;
}
.hero {
  position: relative;
}
.hero img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}
.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}
.hero article img {
    float: right;
    width: 125px;
    margin-left: 12px;
    border-radius: 6px;
}
.hero article {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: var(--accent2-color);
  opacity: 10;
  padding: 10px;
  max-width: 900px;
  font-family: var(--body-font);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  border-radius: 8px;
}